<web-app  xmlns="http://java.sun.com/xml/ns/j2ee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
          version="2.4">
  <display-name>TP1 Plateforme Java</display-name>

  <filter-mapping>
    <filter-name>connectedFilter</filter-name>
    <url-pattern>/connected*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>connectedAdminFilter</filter-name>
    <url-pattern>/connectedAdmin.jsp</url-pattern>
  </filter-mapping>

  <context-param>
    <param-name>JDBC_DRIVER</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>

  <context-param>
    <param-name>JDBC_URL</param-name>
    <param-value>jdbc:mysql://localhost:3306/Cours_JEE_exemple1?serverTimezone=UTC</param-value>
  </context-param>

  <context-param>
    <param-name>JDBC_LOGIN</param-name>
    <param-value>Cours_JEE_JDBC1</param-value>
  </context-param>

  <context-param>
    <param-name>JDBC_PASSWORD</param-name>
    <param-value>password</param-value>
  </context-param>
</web-app>
